.app__footer {
	flex: 1;
	width: 100%;
	flex-direction: column;
}

.app__footer-cards {
	width: 60%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	margin: 4rem 2rem 2rem;

	.app__footer-card {
		min-width: 290px;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		margin: 1rem 0;
		padding: 1rem;
		border-radius: 10px;
		cursor: pointer;
		transition: all 0.3s ease-in-out;
		background: rgba(255, 255, 255, 0.60);
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(5.2px);
		-webkit-backdrop-filter: blur(5.2px);
		border: 1px solid rgba(255, 255, 255, 0.1);

		div {
			width: 45px;
			height: 45px;
			background: rgba(255, 255, 255, 0.60);
			box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
			backdrop-filter: blur(5.2px);
			-webkit-backdrop-filter: blur(5.2px);
			border: 1px solid rgba(255, 255, 255, 0.1);
			border-radius: 50%;
			margin: 0 1rem 0 0;
			display: flex;
			justify-content: center;
			align-items: center;

			svg {
				width: 20px;
				height: 20px;
				color: var(--secondary-color);
				filter: drop-shadow(0px 0px 10px var(--secondary-color));
			}
		}

		img {
			width: 40px;
			height: 40px;
			margin: 0 0.7rem;
		}

		p {
			font-weight: 600;
		}
		a {
			text-decoration: none;
			font-weight: 500;

			&:hover {
				box-shadow: 0 0 25px var(--light-color);
			}
		}

		@media screen and (max-width: 450px) {
			width: 100%;
		}

		&:hover {
			background-color: var(--light-color);
		}
	}
	@media screen and (max-width: 760px) {
		width: 100%;
	}
}

// .app__footer-cards .app__footer-card:last-child {
// 	background-color: var(--light-color2);
// }

.app__footer-form {
	width: 60%;
	flex-direction: column;
	margin: 1rem 2rem;

	div {
		width: 100%;
		margin: 0.75rem 0;
		border-radius: 10px;
		cursor: pointer;
		background-color: var(--light-color2);
		transition: all .3s ease-in-out;

		input,
		textarea {
			width: 100%;
			padding: .95rem;
			border: none;
			border-radius: 7px;
			background-color: var(--light-color2);
			font-family: var(--font-base);
			color: var(--secondary-color);
			outline: none;
		}
		textarea {
			height: 170px;
		}
		&:hover {
			box-shadow: 0 0 25px var(--light-color2);
		}
	}

	button {
		padding: 1rem 2rem;
		border-radius: 10px;
		border: none;
		background-color: var(--secondary-color);
		color: var(--white-color);
		font-weight: 500;
		outline: none;
		margin: 2rem 0 0 0;
		font-family: var(--font-base);
		cursor: pointer;

		&:hover {
			opacity: .8;
		}
	}
	@media screen and (max-width: 760px) {
		width: 100%;
		margin: 1rem 0;
	}
}
